* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: #141414;
}

header {
    position: fixed;
    top: 0%;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.logo {
    font-size: 2em;
    color: #ffffff;
    cursor: 100;
}

.navigation a {
    font-size: 1.1em;
    color: #ffffff;
    text-decoration: none;
    margin-right: 40px;
    font-weight: 500;
    transition: .1s;
    
}

.navigation a:hover, a.active {
    color: #66FF99;
    border-bottom: 3px solid #66FF99;
}

.skills {
    padding: 50px 0;
    background: transparent;
    overflow: hidden;
    text-align: center;
    z-index: 1;
}

.skills .content h1 {
    color: #66FF99;
    padding-top: 40px;
    margin-bottom: 30px;
}

.skill-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.skill-box {
    flex: 1;
    max-width: 200px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.skill-title {
    margin-bottom: 20px;
}

.skill-title img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.skill-title h3 {
    margin-top: 10px;
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .skill-container {
        flex-wrap: wrap;
    }

    .skill-box {
        flex: 1 0 45%;
        margin-bottom: 20px;
    }
}


